# pymysql
- mysql을 파이썬에서 사용할 수 있는 라이브러리

```shell
pip install pymysql
```

In [1]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [325]:
import pymysql
import yaml

In [326]:
DATA_PATH = "data/"

with open(f"{DATA_PATH}config.yml", "r") as f:
    CFG = yaml.full_load(f)

# connect 함수
- MySQL 서버와 연결할 수 있는 함수
- 연결객체를 반환
- 주요 파라미터
    - user: 계정
    - passwd: 패스워드
    - host: 호스트정보(ip 또는 도메인)
    - port: 포트정보
    - db: 선택할 DB 이름

In [327]:
conn = pymysql.connect(**CFG, db="mydata")
conn # 연결객체

# cursor 메서드
- 연결 객체로부터 cursor 객체를 반환
- cursor 객체란?
    - SQL 구문을 실행하기 위한 객체

In [328]:
cursor = conn.cursor()
cursor # 커서객체

## execute 메서드
- 커서객체의 메서드로 전달받은 SQL문을 실행

In [329]:
sql = "SELECT * FROM tb_titanic;"
cursor.execute(sql)

1309

## fetchall 메서드
- 커서객체의 메서드로 execute 메서드 실행 후 쿼리 실행 결과를 모두 가져올 때 사용

In [330]:
result = cursor.fetchall()
result

((1,
  0,
  3,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1,
  0,
  'A/5 21171',
  7.25,
  None,
  'S'),
 (2,
  1,
  1,
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  38.0,
  1,
  0,
  'PC 17599',
  71.2833,
  'C85',
  'C'),
 (3,
  1,
  3,
  'Heikkinen, Miss. Laina',
  'female',
  26.0,
  0,
  0,
  'STON/O2. 3101282',
  7.925,
  None,
  'S'),
 (4,
  1,
  1,
  'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
  'female',
  35.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'),
 (5,
  0,
  3,
  'Allen, Mr. William Henry',
  'male',
  35.0,
  0,
  0,
  '373450',
  8.05,
  None,
  'S'),
 (6,
  0,
  3,
  'Moran, Mr. James',
  'male',
  None,
  0,
  0,
  '330877',
  8.4583,
  None,
  'Q'),
 (7,
  0,
  1,
  'McCarthy, Mr. Timothy J',
  'male',
  54.0,
  0,
  0,
  '17463',
  51.8625,
  'E46',
  'S'),
 (8,
  0,
  3,
  'Palsson, Master. Gosta Leonard',
  'male',
  2.0,
  3,
  1,
  '349909',
  21.075,
  None,
  'S'),
 (9,
  1,
  3,
  'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
  'female',
  27.0,
  0,
  2,
  '347742',
  11.1333,
  None,
  'S'),
 (10,
  1,
  2,
  'Nasser, Mrs. Nicholas (Adele Achem)',
  'female',
  14.0,
  1,
  0,
  '237736',
  30.0708,
  None,
  'C'),
 (11,
  1,
  3,
  'Sandstrom, Miss. Marguerite Rut',
  'female',
  4.0,
  1,
  1,
  'PP 9549',
  16.7,
  'G6',
  'S'),
 (12,
  1,
  1,
  'Bonnell, Miss. Elizabeth',
  'female',
  58.0,
  0,
  0,
  '113783',
  26.55,
  'C103',
  'S'),
 (13,
  0,
  3,
  'Saundercock, Mr. William Henry',
  'male',
  20.0,
  0,
  0,
  'A/5. 2151',
  8.05,
  None,
  'S'),
 (14,
  0,
  3,
  'Andersson, Mr. Anders Johan',
  'male',
  39.0,
  1,
  5,
  '347082',
  31.275,
  None,
  'S'),
 (15,
  0,
  3,
  'Vestrom, Miss. Hulda Amanda Adolfina',
  'female',
  14.0,
  0,
  0,
  '350406',
  7.8542,
  None,
  'S'),
 (16,
  1,
  2,
  'Hewlett, Mrs. (Mary D Kingcome) ',
  'female',
  55.0,
  0,
  0,
  '248706',
  16.0,
  None,
  'S'),
 (17,
  0,
  3,
  'Rice, Master. Eugene',
  'male',
  2.0,
  4,
  1,
  '382652',
  29.125,
  None,
  'Q'),
 (18,
  1,
  2,
  'Williams, Mr. Charles Eugene',
  'male',
  None,
  0,
  0,
  '244373',
  13.0,
  None,
  'S'),
 (19,
  0,
  3,
  'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
  'female',
  31.0,
  1,
  0,
  '345763',
  18.0,
  None,
  'S'),
 (20,
  1,
  3,
  'Masselmani, Mrs. Fatima',
  'female',
  None,
  0,
  0,
  '2649',
  7.225,
  None,
  'C'),
 (21,
  0,
  2,
  'Fynney, Mr. Joseph J',
  'male',
  35.0,
  0,
  0,
  '239865',
  26.0,
  None,
  'S'),
 (22,
  1,
  2,
  'Beesley, Mr. Lawrence',
  'male',
  34.0,
  0,
  0,
  '248698',
  13.0,
  'D56',
  'S'),
 (23,
  1,
  3,
  'McGowan, Miss. Anna "Annie"',
  'female',
  15.0,
  0,
  0,
  '330923',
  8.0292,
  None,
  'Q'),
 (24,
  1,
  1,
  'Sloper, Mr. William Thompson',
  'male',
  28.0,
  0,
  0,
  '113788',
  35.5,
  'A6',
  'S'),
 (25,
  0,
  3,
  'Palsson, Miss. Torborg Danira',
  'female',
  8.0,
  3,
  1,
  '349909',
  21.075,
  None,
  'S'),
 (26,
  1,
  3,
  'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
  'female',
  38.0,
  1,
  5,
  '347077',
  31.3875,
  None,
  'S'),
 (27,
  0,
  3,
  'Emir, Mr. Farred Chehab',
  'male',
  None,
  0,
  0,
  '2631',
  7.225,
  None,
  'C'),
 (28,
  0,
  1,
  'Fortune, Mr. Charles Alexander',
  'male',
  19.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'),
 (29,
  1,
  3,
  'O\'Dwyer, Miss. Ellen "Nellie"',
  'female',
  None,
  0,
  0,
  '330959',
  7.8792,
  None,
  'Q'),
 (30,
  0,
  3,
  'Todoroff, Mr. Lalio',
  'male',
  None,
  0,
  0,
  '349216',
  7.8958,
  None,
  'S'),
 (31,
  0,
  1,
  'Uruchurtu, Don. Manuel E',
  'male',
  40.0,
  0,
  0,
  'PC 17601',
  27.7208,
  None,
  'C'),
 (32,
  1,
  1,
  'Spencer, Mrs. William Augustus (Marie Eugenie)',
  'female',
  None,
  1,
  0,
  'PC 17569',
  146.5208,
  'B78',
  'C'),
 (33,
  1,
  3,
  'Glynn, Miss. Mary Agatha',
  'female',
  None,
  0,
  0,
  '335677',
  7.75,
  None,
  'Q'),
 (34,
  0,
  2,
  'Wheadon, Mr. Edward H',
  'male',
  66.0,
  0,
  0,
  'C.A. 24579',
  10.5,
  None,
  'S'),
 (35,
  0,
  1,
  'Meyer, Mr. Edgar Joseph',
  'male',
  28.0,
  1,
  0,
  'PC 17604',
  82.1708,
  None,
  'C'),
 (36,
  0,
  1,
  'Holverson, Mr. Alexander Oskar',
  'male',
  42.0,
  1,
  0,
  '113789',
  52.0,
  None,
  'S'),
 (37, 1, 3, 'Mamee, Mr. Hanna', 'male', None, 0, 0, '2677', 7.2292, None, 'C'),
 (38,
  0,
  3,
  'Cann, Mr. Ernest Charles',
  'male',
  21.0,
  0,
  0,
  'A./5. 2152',
  8.05,
  None,
  'S'),
 (39,
  0,
  3,
  'Vander Planke, Miss. Augusta Maria',
  'female',
  18.0,
  2,
  0,
  '345764',
  18.0,
  None,
  'S'),
 (40,
  1,
  3,
  'Nicola-Yarred, Miss. Jamila',
  'female',
  14.0,
  1,
  0,
  '2651',
  11.2417,
  None,
  'C'),
 (41,
  0,
  3,
  'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
  'female',
  40.0,
  1,
  0,
  '7546',
  9.475,
  None,
  'S'),
 (42,
  0,
  2,
  'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
  'female',
  27.0,
  1,
  0,
  '11668',
  21.0,
  None,
  'S'),
 (43,
  0,
  3,
  'Kraeff, Mr. Theodor',
  'male',
  None,
  0,
  0,
  '349253',
  7.8958,
  None,
  'C'),
 (44,
  1,
  2,
  'Laroche, Miss. Simonne Marie Anne Andree',
  'female',
  3.0,
  1,
  2,
  'SC/Paris 2123',
  41.5792,
  None,
  'C'),
 (45,
  1,
  3,
  'Devaney, Miss. Margaret Delia',
  'female',
  19.0,
  0,
  0,
  '330958',
  7.8792,
  None,
  'Q'),
 (46,
  0,
  3,
  'Rogers, Mr. William John',
  'male',
  None,
  0,
  0,
  'S.C./A.4. 23567',
  8.05,
  None,
  'S'),
 (47,
  0,
  3,
  'Lennon, Mr. Denis',
  'male',
  None,
  1,
  0,
  '370371',
  15.5,
  None,
  'Q'),
 (48,
  1,
  3,
  "O'Driscoll, Miss. Bridget",
  'female',
  None,
  0,
  0,
  '14311',
  7.75,
  None,
  'Q'),
 (49,
  0,
  3,
  'Samaan, Mr. Youssef',
  'male',
  None,
  2,
  0,
  '2662',
  21.6792,
  None,
  'C'),
 (50,
  0,
  3,
  'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
  'female',
  18.0,
  1,
  0,
  '349237',
  17.8,
  None,
  'S'),
 (51,
  0,
  3,
  'Panula, Master. Juha Niilo',
  'male',
  7.0,
  4,
  1,
  '3101295',
  39.6875,
  None,
  'S'),
 (52,
  0,
  3,
  'Nosworthy, Mr. Richard Cater',
  'male',
  21.0,
  0,
  0,
  'A/4. 39886',
  7.8,
  None,
  'S'),
 (53,
  1,
  1,
  'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
  'female',
  49.0,
  1,
  0,
  'PC 17572',
  76.7292,
  'D33',
  'C'),
 (54,
  1,
  2,
  'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
  'female',
  29.0,
  1,
  0,
  '2926',
  26.0,
  None,
  'S'),
 (55,
  0,
  1,
  'Ostby, Mr. Engelhart Cornelius',
  'male',
  65.0,
  0,
  1,
  '113509',
  61.9792,
  'B30',
  'C'),
 (56,
  1,
  1,
  'Woolner, Mr. Hugh',
  'male',
  None,
  0,
  0,
  '19947',
  35.5,
  'C52',
  'S'),
 (57,
  1,
  2,
  'Rugg, Miss. Emily',
  'female',
  21.0,
  0,
  0,
  'C.A. 31026',
  10.5,
  None,
  'S'),
 (58,
  0,
  3,
  'Novel, Mr. Mansouer',
  'male',
  28.5,
  0,
  0,
  '2697',
  7.2292,
  None,
  'C'),
 (59,
  1,
  2,
  'West, Miss. Constance Mirium',
  'female',
  5.0,
  1,
  2,
  'C.A. 34651',
  27.75,
  None,
  'S'),
 (60,
  0,
  3,
  'Goodwin, Master. William Frederick',
  'male',
  11.0,
  5,
  2,
  'CA 2144',
  46.9,
  None,
  'S'),
 (61,
  0,
  3,
  'Sirayanian, Mr. Orsen',
  'male',
  22.0,
  0,
  0,
  '2669',
  7.2292,
  None,
  'C'),
 (62,
  1,
  1,
  'Icard, Miss. Amelie',
  'female',
  38.0,
  0,
  0,
  '113572',
  80.0,
  'B28',
  None),
 (63,
  0,
  1,
  'Harris, Mr. Henry Birkhardt',
  'male',
  45.0,
  1,
  0,
  '36973',
  83.475,
  'C83',
  'S'),
 (64,
  0,
  3,
  'Skoog, Master. Harald',
  'male',
  4.0,
  3,
  2,
  '347088',
  27.9,
  None,
  'S'),
 (65,
  0,
  1,
  'Stewart, Mr. Albert A',
  'male',
  None,
  0,
  0,
  'PC 17605',
  27.7208,
  None,
  'C'),
 (66,
  1,
  3,
  'Moubarek, Master. Gerios',
  'male',
  None,
  1,
  1,
  '2661',
  15.2458,
  None,
  'C'),
 (67,
  1,
  2,
  'Nye, Mrs. (Elizabeth Ramell)',
  'female',
  29.0,
  0,
  0,
  'C.A. 29395',
  10.5,
  'F33',
  'S'),
 (68,
  0,
  3,
  'Crease, Mr. Ernest James',
  'male',
  19.0,
  0,
  0,
  'S.P. 3464',
  8.1583,
  None,
  'S'),
 (69,
  1,
  3,
  'Andersson, Miss. Erna Alexandra',
  'female',
  17.0,
  4,
  2,
  '3101281',
  7.925,
  None,
  'S'),
 (70,
  0,
  3,
  'Kink, Mr. Vincenz',
  'male',
  26.0,
  2,
  0,
  '315151',
  8.6625,
  None,
  'S'),
 (71,
  0,
  2,
  'Jenkin, Mr. Stephen Curnow',
  'male',
  32.0,
  0,
  0,
  'C.A. 33111',
  10.5,
  None,
  'S'),
 (72,
  0,
  3,
  'Goodwin, Miss. Lillian Amy',
  'female',
  16.0,
  5,
  2,
  'CA 2144',
  46.9,
  None,
  'S'),
 (73,
  0,
  2,
  'Hood, Mr. Ambrose Jr',
  'male',
  21.0,
  0,
  0,
  'S.O.C. 14879',
  73.5,
  None,
  'S'),
 (74,
  0,
  3,
  'Chronopoulos, Mr. Apostolos',
  'male',
  26.0,
  1,
  0,
  '2680',
  14.4542,
  None,
  'C'),
 (75, 1, 3, 'Bing, Mr. Lee', 'male', 32.0, 0, 0, '1601', 56.4958, None, 'S'),
 (76,
  0,
  3,
  'Moen, Mr. Sigurd Hansen',
  'male',
  25.0,
  0,
  0,
  '348123',
  7.65,
  'F G73',
  'S'),
 (77,
  0,
  3,
  'Staneff, Mr. Ivan',
  'male',
  None,
  0,
  0,
  '349208',
  7.8958,
  None,
  'S'),
 (78,
  0,
  3,
  'Moutal, Mr. Rahamin Haim',
  'male',
  None,
  0,
  0,
  '374746',
  8.05,
  None,
  'S'),
 (79,
  1,
  2,
  'Caldwell, Master. Alden Gates',
  'male',
  0.83,
  0,
  2,
  '248738',
  29.0,
  None,
  'S'),
 (80,
  1,
  3,
  'Dowdell, Miss. Elizabeth',
  'female',
  30.0,
  0,
  0,
  '364516',
  12.475,
  None,
  'S'),
 (81,
  0,
  3,
  'Waelens, Mr. Achille',
  'male',
  22.0,
  0,
  0,
  '345767',
  9.0,
  None,
  'S'),
 (82,
  1,
  3,
  'Sheerlinck, Mr. Jan Baptist',
  'male',
  29.0,
  0,
  0,
  '345779',
  9.5,
  None,
  'S'),
 (83,
  1,
  3,
  'McDermott, Miss. Brigdet Delia',
  'female',
  None,
  0,
  0,
  '330932',
  7.7875,
  None,
  'Q'),
 (84,
  0,
  1,
  'Carrau, Mr. Francisco M',
  'male',
  28.0,
  0,
  0,
  '113059',
  47.1,
  None,
  'S'),
 (85,
  1,
  2,
  'Ilett, Miss. Bertha',
  'female',
  17.0,
  0,
  0,
  'SO/C 14885',
  10.5,
  None,
  'S'),
 (86,
  1,
  3,
  'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
  'female',
  33.0,
  3,
  0,
  '3101278',
  15.85,
  None,
  'S'),
 (87,
  0,
  3,
  'Ford, Mr. William Neal',
  'male',
  16.0,
  1,
  3,
  'W./C. 6608',
  34.375,
  None,
  'S'),
 (88,
  0,
  3,
  'Slocovski, Mr. Selman Francis',
  'male',
  None,
  0,
  0,
  'SOTON/OQ 392086',
  8.05,
  None,
  'S'),
 (89,
  1,
  1,
  'Fortune, Miss. Mabel Helen',
  'female',
  23.0,
  3,
  2,
  '19950',
  263.0,
  'C23 C25 C27',
  'S'),
 (90,
  0,
  3,
  'Celotti, Mr. Francesco',
  'male',
  24.0,
  0,
  0,
  '343275',
  8.05,
  None,
  'S'),
 (91,
  0,
  3,
  'Christmann, Mr. Emil',
  'male',
  29.0,
  0,
  0,
  '343276',
  8.05,
  None,
  'S'),
 (92,
  0,
  3,
  'Andreasson, Mr. Paul Edvin',
  'male',
  20.0,
  0,
  0,
  '347466',
  7.8542,
  None,
  'S'),
 (93,
  0,
  1,
  'Chaffee, Mr. Herbert Fuller',
  'male',
  46.0,
  1,
  0,
  'W.E.P. 5734',
  61.175,
  'E31',
  'S'),
 (94,
  0,
  3,
  'Dean, Mr. Bertram Frank',
  'male',
  26.0,
  1,
  2,
  'C.A. 2315',
  20.575,
  None,
  'S'),
 (95,
  0,
  3,
  'Coxon, Mr. Daniel',
  'male',
  59.0,
  0,
  0,
  '364500',
  7.25,
  None,
  'S'),
 (96,
  0,
  3,
  'Shorney, Mr. Charles Joseph',
  'male',
  None,
  0,
  0,
  '374910',
  8.05,
  None,
  'S'),
 (97,
  0,
  1,
  'Goldschmidt, Mr. George B',
  'male',
  71.0,
  0,
  0,
  'PC 17754',
  34.6542,
  'A5',
  'C'),
 (98,
  1,
  1,
  'Greenfield, Mr. William Bertram',
  'male',
  23.0,
  0,
  1,
  'PC 17759',
  63.3583,
  'D10 D12',
  'C'),
 (99,
  1,
  2,
  'Doling, Mrs. John T (Ada Julia Bone)',
  'female',
  34.0,
  0,
  1,
  '231919',
  23.0,
  None,
  'S'),
 (100,
  0,
  2,
  'Kantor, Mr. Sinai',
  'male',
  34.0,
  1,
  0,
  '244367',
  26.0,
  None,
  'S'),
 (101,
  0,
  3,
  'Petranec, Miss. Matilda',
  'female',
  28.0,
  0,
  0,
  '349245',
  7.8958,
  None,
  'S'),
 (102,
  0,
  3,
  'Petroff, Mr. Pastcho ("Pentcho")',
  'male',
  None,
  0,
  0,
  '349215',
  7.8958,
  None,
  'S'),
 (103,
  0,
  1,
  'White, Mr. Richard Frasar',
  'male',
  21.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'),
 (104,
  0,
  3,
  'Johansson, Mr. Gustaf Joel',
  'male',
  33.0,
  0,
  0,
  '7540',
  8.6542,
  None,
  'S'),
 (105,
  0,
  3,
  'Gustafsson, Mr. Anders Vilhelm',
  'male',
  37.0,
  2,
  0,
  '3101276',
  7.925,
  None,
  'S'),
 (106,
  0,
  3,
  'Mionoff, Mr. Stoytcho',
  'male',
  28.0,
  0,
  0,
  '349207',
  7.8958,
  None,
  'S'),
 (107,
  1,
  3,
  'Salkjelsvik, Miss. Anna Kristine',
  'female',
  21.0,
  0,
  0,
  '343120',
  7.65,
  None,
  'S'),
 (108,
  1,
  3,
  'Moss, Mr. Albert Johan',
  'male',
  None,
  0,
  0,
  '312991',
  7.775,
  None,
  'S'),
 (109,
  0,
  3,
  'Rekic, Mr. Tido',
  'male',
  38.0,
  0,
  0,
  '349249',
  7.8958,
  None,
  'S'),
 (110,
  1,
  3,
  'Moran, Miss. Bertha',
  'female',
  None,
  1,
  0,
  '371110',
  24.15,
  None,
  'Q'),
 (111,
  0,
  1,
  'Porter, Mr. Walter Chamberlain',
  'male',
  47.0,
  0,
  0,
  '110465',
  52.0,
  'C110',
  'S'),
 (112,
  0,
  3,
  'Zabour, Miss. Hileni',
  'female',
  14.5,
  1,
  0,
  '2665',
  14.4542,
  None,
  'C'),
 (113,
  0,
  3,
  'Barton, Mr. David John',
  'male',
  22.0,
  0,
  0,
  '324669',
  8.05,
  None,
  'S'),
 (114,
  0,
  3,
  'Jussila, Miss. Katriina',
  'female',
  20.0,
  1,
  0,
  '4136',
  9.825,
  None,
  'S'),
 (115,
  0,
  3,
  'Attalah, Miss. Malake',
  'female',
  17.0,
  0,
  0,
  '2627',
  14.4583,
  None,
  'C'),
 (116,
  0,
  3,
  'Pekoniemi, Mr. Edvard',
  'male',
  21.0,
  0,
  0,
  'STON/O 2. 3101294',
  7.925,
  None,
  'S'),
 (117,
  0,
  3,
  'Connors, Mr. Patrick',
  'male',
  70.5,
  0,
  0,
  '370369',
  7.75,
  None,
  'Q'),
 (118,
  0,
  2,
  'Turpin, Mr. William John Robert',
  'male',
  29.0,
  1,
  0,
  '11668',
  21.0,
  None,
  'S'),
 (119,
  0,
  1,
  'Baxter, Mr. Quigg Edmond',
  'male',
  24.0,
  0,
  1,
  'PC 17558',
  247.5208,
  'B58 B60',
  'C'),
 (120,
  0,
  3,
  'Andersson, Miss. Ellis Anna Maria',
  'female',
  2.0,
  4,
  2,
  '347082',
  31.275,
  None,
  'S'),
 (121,
  0,
  2,
  'Hickman, Mr. Stanley George',
  'male',
  21.0,
  2,
  0,
  'S.O.C. 14879',
  73.5,
  None,
  'S'),
 (122,
  0,
  3,
  'Moore, Mr. Leonard Charles',
  'male',
  None,
  0,
  0,
  'A4. 54510',
  8.05,
  None,
  'S'),
 (123,
  0,
  2,
  'Nasser, Mr. Nicholas',
  'male',
  32.5,
  1,
  0,
  '237736',
  30.0708,
  None,
  'C'),
 (124,
  1,
  2,
  'Webber, Miss. Susan',
  'female',
  32.5,
  0,
  0,
  '27267',
  13.0,
  'E101',
  'S'),
 (125,
  0,
  1,
  'White, Mr. Percival Wayland',
  'male',
  54.0,
  0,
  1,
  '35281',
  77.2875,
  'D26',
  'S'),
 (126,
  1,
  3,
  'Nicola-Yarred, Master. Elias',
  'male',
  12.0,
  1,
  0,
  '2651',
  11.2417,
  None,
  'C'),
 (127,
  0,
  3,
  'McMahon, Mr. Martin',
  'male',
  None,
  0,
  0,
  '370372',
  7.75,
  None,
  'Q'),
 (128,
  1,
  3,
  'Madsen, Mr. Fridtjof Arne',
  'male',
  24.0,
  0,
  0,
  'C 17369',
  7.1417,
  None,
  'S'),
 (129,
  1,
  3,
  'Peter, Miss. Anna',
  'female',
  None,
  1,
  1,
  '2668',
  22.3583,
  'F E69',
  'C'),
 (130,
  0,
  3,
  'Ekstrom, Mr. Johan',
  'male',
  45.0,
  0,
  0,
  '347061',
  6.975,
  None,
  'S'),
 (131,
  0,
  3,
  'Drazenoic, Mr. Jozef',
  'male',
  33.0,
  0,
  0,
  '349241',
  7.8958,
  None,
  'C'),
 (132,
  0,
  3,
  'Coelho, Mr. Domingos Fernandeo',
  'male',
  20.0,
  0,
  0,
  'SOTON/O.Q. 3101307',
  7.05,
  None,
  'S'),
 (133,
  0,
  3,
  'Robins, Mrs. Alexander A (Grace Charity Laury)',
  'female',
  47.0,
  1,
  0,
  'A/5. 3337',
  14.5,
  None,
  'S'),
 (134,
  1,
  2,
  'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
  'female',
  29.0,
  1,
  0,
  '228414',
  26.0,
  None,
  'S'),
 (135,
  0,
  2,
  'Sobey, Mr. Samuel James Hayden',
  'male',
  25.0,
  0,
  0,
  'C.A. 29178',
  13.0,
  None,
  'S'),
 (136,
  0,
  2,
  'Richard, Mr. Emile',
  'male',
  23.0,
  0,
  0,
  'SC/PARIS 2133',
  15.0458,
  None,
  'C'),
 (137,
  1,
  1,
  'Newsom, Miss. Helen Monypeny',
  'female',
  19.0,
  0,
  2,
  '11752',
  26.2833,
  'D47',
  'S'),
 (138,
  0,
  1,
  'Futrelle, Mr. Jacques Heath',
  'male',
  37.0,
  1,
  0,
  '113803',
  53.1,
  'C123',
  'S'),
 (139,
  0,
  3,
  'Osen, Mr. Olaf Elon',
  'male',
  16.0,
  0,
  0,
  '7534',
  9.2167,
  None,
  'S'),
 (140,
  0,
  1,
  'Giglio, Mr. Victor',
  'male',
  24.0,
  0,
  0,
  'PC 17593',
  79.2,
  'B86',
  'C'),
 (141,
  0,
  3,
  'Boulos, Mrs. Joseph (Sultana)',
  'female',
  None,
  0,
  2,
  '2678',
  15.2458,
  None,
  'C'),
 (142,
  1,
  3,
  'Nysten, Miss. Anna Sofia',
  'female',
  22.0,
  0,
  0,
  '347081',
  7.75,
  None,
  'S'),
 (143,
  1,
  3,
  'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
  'female',
  24.0,
  1,
  0,
  'STON/O2. 3101279',
  15.85,
  None,
  'S'),
 (144,
  0,
  3,
  'Burke, Mr. Jeremiah',
  'male',
  19.0,
  0,
  0,
  '365222',
  6.75,
  None,
  'Q'),
 (145,
  0,
  2,
  'Andrew, Mr. Edgardo Samuel',
  'male',
  18.0,
  0,
  0,
  '231945',
  11.5,
  None,
  'S'),
 (146,
  0,
  2,
  'Nicholls, Mr. Joseph Charles',
  'male',
  19.0,
  1,
  1,
  'C.A. 33112',
  36.75,
  None,
  'S'),
 (147,
  1,
  3,
  'Andersson, Mr. August Edvard ("Wennerstrom")',
  'male',
  27.0,
  0,
  0,
  '350043',
  7.7958,
  None,
  'S'),
 (148,
  0,
  3,
  'Ford, Miss. Robina Maggie "Ruby"',
  'female',
  9.0,
  2,
  2,
  'W./C. 6608',
  34.375,
  None,
  'S'),
 (149,
  0,
  2,
  'Navratil, Mr. Michel ("Louis M Hoffman")',
  'male',
  36.5,
  0,
  2,
  '230080',
  26.0,
  'F2',
  'S'),
 (150,
  0,
  2,
  'Byles, Rev. Thomas Roussel Davids',
  'male',
  42.0,
  0,
  0,
  '244310',
  13.0,
  None,
  'S'),
 (151,
  0,
  2,
  'Bateman, Rev. Robert James',
  'male',
  51.0,
  0,
  0,
  'S.O.P. 1166',
  12.525,
  None,
  'S'),
 (152,
  1,
  1,
  'Pears, Mrs. Thomas (Edith Wearne)',
  'female',
  22.0,
  1,
  0,
  '113776',
  66.6,
  'C2',
  'S'),
 (153,
  0,
  3,
  'Meo, Mr. Alfonzo',
  'male',
  55.5,
  0,
  0,
  'A.5. 11206',
  8.05,
  None,
  'S'),
 (154,
  0,
  3,
  'van Billiard, Mr. Austin Blyler',
  'male',
  40.5,
  0,
  2,
  'A/5. 851',
  14.5,
  None,
  'S'),
 (155,
  0,
  3,
  'Olsen, Mr. Ole Martin',
  'male',
  None,
  0,
  0,
  'Fa 265302',
  7.3125,
  None,
  'S'),
 (156,
  0,
  1,
  'Williams, Mr. Charles Duane',
  'male',
  51.0,
  0,
  1,
  'PC 17597',
  61.3792,
  None,
  'C'),
 (157,
  1,
  3,
  'Gilnagh, Miss. Katherine "Katie"',
  'female',
  16.0,
  0,
  0,
  '35851',
  7.7333,
  None,
  'Q'),
 (158,
  0,
  3,
  'Corn, Mr. Harry',
  'male',
  30.0,
  0,
  0,
  'SOTON/OQ 392090',
  8.05,
  None,
  'S'),
 (159,
  0,
  3,
  'Smiljanic, Mr. Mile',
  'male',
  None,
  0,
  0,
  '315037',
  8.6625,
  None,
  'S'),
 (160,
  0,
  3,
  'Sage, Master. Thomas Henry',
  'male',
  None,
  8,
  2,
  'CA. 2343',
  69.55,
  None,
  'S'),
 (161,
  0,
  3,
  'Cribb, Mr. John Hatfield',
  'male',
  44.0,
  0,
  1,
  '371362',
  16.1,
  None,
  'S'),
 (162,
  1,
  2,
  'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
  'female',
  40.0,
  0,
  0,
  'C.A. 33595',
  15.75,
  None,
  'S'),
 (163,
  0,
  3,
  'Bengtsson, Mr. John Viktor',
  'male',
  26.0,
  0,
  0,
  '347068',
  7.775,
  None,
  'S'),
 (164,
  0,
  3,
  'Calic, Mr. Jovo',
  'male',
  17.0,
  0,
  0,
  '315093',
  8.6625,
  None,
  'S'),
 (165,
  0,
  3,
  'Panula, Master. Eino Viljami',
  'male',
  1.0,
  4,
  1,
  '3101295',
  39.6875,
  None,
  'S'),
 (166,
  1,
  3,
  'Goldsmith, Master. Frank John William "Frankie"',
  'male',
  9.0,
  0,
  2,
  '363291',
  20.525,
  None,
  'S'),
 (167,
  1,
  1,
  'Chibnall, Mrs. (Edith Martha Bowerman)',
  'female',
  None,
  0,
  1,
  '113505',
  55.0,
  'E33',
  'S'),
 (168,
  0,
  3,
  'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
  'female',
  45.0,
  1,
  4,
  '347088',
  27.9,
  None,
  'S'),
 (169,
  0,
  1,
  'Baumann, Mr. John D',
  'male',
  None,
  0,
  0,
  'PC 17318',
  25.925,
  None,
  'S'),
 (170, 0, 3, 'Ling, Mr. Lee', 'male', 28.0, 0, 0, '1601', 56.4958, None, 'S'),
 (171,
  0,
  1,
  'Van der hoef, Mr. Wyckoff',
  'male',
  61.0,
  0,
  0,
  '111240',
  33.5,
  'B19',
  'S'),
 (172,
  0,
  3,
  'Rice, Master. Arthur',
  'male',
  4.0,
  4,
  1,
  '382652',

In [331]:
cursor.fetchall() # execute 실행 결과를 한번 반환하면 더 이상 반환하지 않음

()

- dict 형식으로 받아오기

In [333]:
from pymysql.cursors import DictCursor
cursor = conn.cursor(DictCursor)

In [334]:
sql = "SELECT deptno, AVG(sal) FROM emp GROUP BY deptno"

In [335]:
cursor.execute(sql)

3

In [336]:
result = cursor.fetchall()

In [337]:
result[:2]

[{'deptno': 10, 'AVG(sal)': Decimal('2916.666667')},
 {'deptno': 20, 'AVG(sal)': Decimal('2175.000000')}]

In [338]:
cursor.execute(sql)
for row in cursor.fetchall():
    print(row)

{'deptno': 10, 'AVG(sal)': Decimal('2916.666667')}
{'deptno': 20, 'AVG(sal)': Decimal('2175.000000')}
{'deptno': 30, 'AVG(sal)': Decimal('1566.666667')}

In [339]:
sql = "SELECT * FROM tb_titanic;"

cursor.execute(sql)

1309

## fetchone 메서드
- 하나씩 가져오기

In [346]:
cursor.fetchone()

{'passengerid': 7,
 'survived': 0,
 'pclass': 1,
 'name': 'McCarthy, Mr. Timothy J',
 'gender': 'male',
 'age': 54.0,
 'sibsp': 0,
 'parch': 0,
 'ticket': '17463',
 'fare': 51.8625,
 'cabin': 'E46',
 'embarked': 'S'}

## 커서 닫아주기

In [347]:
cursor.close()

In [348]:
# cursor.execute(sql) # 커서가 닫혔기 때문에 에러발생

In [349]:
with conn.cursor(DictCursor) as cursor:
    sql = "SELECT * FROM tb_titanic;"
    cursor.execute(sql)
    result = cursor.fetchall()

In [264]:
# cursor.execute(sql)

# 연결 닫아주기

In [352]:
conn.close()

# DB 선택 없이 접속

In [353]:
conn = pymysql.connect(**CFG) # autocommit=True
conn

- autocommit 확인

In [354]:
conn.autocommit_mode

False

## DB 선택하기

In [355]:
conn.select_db('mydata') # USE mydata

In [356]:
cursor = conn.cursor(DictCursor)

In [357]:
import json
with open(f"{DATA_PATH}state.json", "r") as f:
    data = json.load(f)
type(data)

list

In [358]:
len(data)

50

In [359]:
data[0] # 주, 인구수, 10만명 당 살인률

['Alabama', 4779736, 5.7]

In [360]:
sql = """
CREATE TABLE IF NOT EXISTS tb_murder_rate(
    id INT UNSIGNED AUTO_INCREMENT PRIMARY KEY,
    state VARCHAR(50) UNIQUE NOT NULL,
    population INT,
    rate FLOAT
);
"""
cursor.execute(sql)

0

In [361]:
columns_list = ["state", "population", "rate"]

In [363]:
values = [f"'{item}'" if type(item) is str else str(item) for item in data[0]]
",".join(values)

"'Alabama',4779736,5.7"

In [364]:
sql = f"""
INSERT INTO tb_murder_rate({",".join(columns_list)})
VALUES({",".join(values)});
"""
print(sql)

INSERT INTO tb_murder_rate(state,population,rate)
VALUES('Alabama',4779736,5.7);

In [365]:
cursor.execute(sql)

IntegrityError: (1062, "Duplicate entry 'Alabama' for key 'tb_murder_rate.state'")

In [366]:
conn.rollback() # INSERT, DELETE, UPDATE 을 취소

## PlaceHolder
- 동적 SQL 문을 구성할 때 유용하게 사용할 수 있는 기능
- 동적으로 들어갈 위치에 `%s` 를 이용해 SQL을 만든다.

In [367]:
sql = f"""
    INSERT INTO tb_murder_rate({",".join(columns_list)})
    VALUES(%s, %s, %s)
"""
print(sql)

    INSERT INTO tb_murder_rate(state,population,rate)
    VALUES(%s, %s, %s)

In [316]:
cursor.execute(sql, data[0])

1

In [319]:
conn.rollback()

In [320]:
cursor.executemany(sql, data)

50

In [321]:
conn.commit() # 실제 데이터베이스에 반영

- 조회할 때 사용해보기

In [322]:
lst = [100000, 5]
sql = "SELECT * FROM tb_murder_rate WHERE population > %s and rate > %s"

cursor.execute(sql, lst)

16

In [323]:
result = cursor.fetchall()
result

[{'id': 56, 'state': 'Alabama', 'population': 4779736, 'rate': 5.7},
 {'id': 57, 'state': 'Alaska', 'population': 710231, 'rate': 5.6},
 {'id': 59, 'state': 'Arkansas', 'population': 2915918, 'rate': 5.6},
 {'id': 63, 'state': 'Delaware', 'population': 897934, 'rate': 5.8},
 {'id': 64, 'state': 'Florida', 'population': 18801310, 'rate': 5.8},
 {'id': 65, 'state': 'Georgia', 'population': 9687653, 'rate': 5.7},
 {'id': 68, 'state': 'Illinois', 'population': 12830632, 'rate': 5.3},
 {'id': 73, 'state': 'Louisiana', 'population': 4533372, 'rate': 10.3},
 {'id': 75, 'state': 'Maryland', 'population': 5773552, 'rate': 6.1},
 {'id': 77, 'state': 'Michigan', 'population': 9883640, 'rate': 5.4},
 {'id': 79, 'state': 'Mississippi', 'population': 2967297, 'rate': 8.6},
 {'id': 80, 'state': 'Missouri', 'population': 5988927, 'rate': 6.6},
 {'id': 83, 'state': 'Nevada', 'population': 2700551, 'rate': 6.0},
 {'id': 88, 'state': 'North Carolina', 'population': 9535483, 'rate': 5.1},
 {'id': 95, 'state': 'South Carolina', 'population': 4625364, 'rate': 6.4},
 {'id': 97, 'state': 'Tennessee', 'population': 6346105, 'rate': 5.7}]

In [324]:
cursor.close()
conn.close()